<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li {% if current == "index" %} class="current" {% endif %}>
                    <a href="{{ build_url('/food/index') }}">美食列表</a>
                </li>
                <li {% if current == "cat" %} class="current" {% endif %}>
                    <a href="{{ build_url('/food/cat') }}">分类列表</a>
                </li>
            </ul>
        </div>
    </div>
</div>