{% extends "common/layout_main.html" %}
{% block content %}
<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li>
                    <a href="{{ build_url('/finance/index') }}">订单列表</a>
                </li>
                <li class="current">
                    <a href="{{ build_url('/finance/account') }}">财务流水</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 m-t">
        <p>总收款金额：5.35元</p>
    </div>
    <div class="col-lg-12">
        <table class="table table-bordered m-t">
            <thead>
            <tr>
                <th>订单编号</th>
                <th>价格</th>
                <th>支付时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>20180224387</td>
                <td>0.05</td>
                <td>2018-02-24 12:37</td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-12">
                <span class="pagination_count" style="line-height: 40px;">共1条记录 | 每页50条</span>
                <ul class="pagination pagination-lg pull-right" style="margin: 0 0 ;">
                    <li class="active"><a href="javascript:void(0);">1</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
