{% extends "common/layout_main.html" %}
{% block content %}
<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li class="current">
                    <a href="{{ build_url('/food/index') }}">美食列表</a>
                </li>
                <li>
                    <a href="{{ build_url('/food/cat') }}">分类列表</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<style type="text/css">
    .wrap_info img {
        width: 70%;
    }
</style>
<div class="row m-t wrap_info">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <a class="btn btn-outline btn-primary pull-right" href="{{ build_url('/food/set') }}">
                        <i class="fa fa-pencil"></i>编辑
                    </a>
                    <h2>美食信息</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="m-t">美食名：小鸡炖蘑菇</p>
                <p>售价：45.00</p>
                <p>库存总量：88</p>
                <p>图书标签：好吃</p>
                <p>封面图：<img src="{{ static_url('/images/common/logo.png') }}" style="width: 50px;height: 50px;"></p>
                <p>描述：</p>
                <p>小鸡炖蘑菇~~~~</p>
                <p></p>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-lg-12">
                <div class="panel blank-panel">
                    <div class="panel-heading">
                        <div class="panel-options">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab-1" data-toggle="tab" aria-expanded="false">销售历史</a>
                                </li>
                                <li>
                                    <a href="#tab-2" data-toggle="tab" aria-expanded="true">库存变更</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-1">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>会员名称</th>
                                        <th>购买数量</th>
                                        <th>购买价格</th>
                                        <th>订单状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="4">暂无销售记录</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>变更</th>
                                        <th>备注</th>
                                        <th>时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>订单过期释放库存</td>
                                        <td>2018-03-14 20:00:02</td>
                                    </tr>
                                    <tr>
                                        <td>-1</td>
                                        <td>在线购买</td>
                                        <td>2018-03-14 19:14:32</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>订单过期释放库存</td>
                                        <td>2018-03-14 10:11:14</td>
                                    </tr>
                                    <tr>
                                        <td>-1</td>
                                        <td>在线购买</td>
                                        <td>2018-03-14 10:10:21</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>订单过期释放库存</td>
                                        <td>2018-03-12 23:00:02</td>
                                    </tr>
                                    <tr>
                                        <td>-1</td>
                                        <td>在线购买</td>
                                        <td>2018-03-12 22:28:11</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>订单过期释放库存</td>
                                        <td>2018-03-11 17:00:02</td>
                                    </tr>
                                    <tr>
                                        <td>-1</td>
                                        <td>在线购买</td>
                                        <td>2018-03-11 16:29:48</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>订单过期释放库存</td>
                                        <td>2018-03-10 14:30:02</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>订单过期释放库存</td>
                                        <td>2018-03-10 14:30:02</td>
                                    </tr>
                                    <tr>
                                        <td>-1</td>
                                        <td>在线购买</td>
                                        <td>2018-03-10 13:57:43</td>
                                    </tr>
                                    <tr>
                                        <td>-1</td>
                                        <td>在线购买</td>
                                        <td>2018-03-10 13:56:09</td>
                                    </tr>
                                    <tr>
                                        <td>88</td>
                                        <td></td>
                                        <td>2018-03-01 14:40:02</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
